@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,200;1,500&family=Zen+Dots&display=swap'); </style>

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1{
    font-family: serif;
    background-color: rgb(34, 114, 164);
    display: inline-block;
    border: 2px solid black;
}

h2{
    font-family: serif;
}

nav ul{
    list-style-type: none;
    background-color: rgb(34, 114, 164);
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li {
    display: inline-block;
    margin: 30px;
}

h5{
    background-color: blueviolet;
    width: 150px;
    height: 100%;
    text-align: center;
}

.h555{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h333{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------------index------------*/

.hero{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h2{
    font-size: 80px;
    display: inline-block;
    color: rgb(47, 47, 47);
}

h3{
    border: 2px dotted red;
    width: 150px;
    height: 25px;
    padding: 5px;
    text-align: center;
}

.jueguitos div a {
    text-decoration: none;
    color: black;
}

.jueguitos div{
    border: 2px solid gray;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.acces1 div a {
    text-decoration: none;
    color: black;
}

.acces1 div{
    border: 2px solid gray;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.UltimasNoticias{
    margin: 20px;
}

.UltimasNoticias div a {
    text-decoration: none;
    color: black;
}

.UltimasNoticias h3{
    width: 200px;
}

.jueguitos img{
    width: 250px;
    height: 250px;
}

.acces1 img{
    width: 250px;
    height: 250px;
}

.UltimasNoticias img{
    width: 250px;
    height: 250px;
}

a {
    text-decoration: none;
    color: black;
}

footer p{
    text-align: center;
}

footer a{
    padding: 120px;
}

footer a img{
    width: 150px;
    height: 150px;
}

.div1{ 
    display: flex;
    
}

.jueguitos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.acces1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



/*------------juegos------------*/

.hero2{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo\ ps4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero2 h2{
    font-size: 80px;
    display: inline-block;
    color: rgb(47, 47, 47);
}

.juegazos img{
    width: 250px;
    height: 250px;
}

.juegazos div a {
    text-decoration: none;
    color: black;
}

.juegazos div{
    border: 2px solid gray;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.hero2{
    display: flex;
    flex-wrap: wrap;
}

/*------------accesorios------------*/

.hero3{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo\ accesorios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero3 h2{
    font-size: 80px;
    display: inline-block;
    color: rgb(47, 47, 47);
}

.acces2 img{
    width: 250px;
    height: 250px;
}

.acces2 div a {
    text-decoration: none;
    color: black;
}

.acces2 div{
    border: 2px solid gray;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.hero3{
    display: flex;
    flex-wrap: wrap;
}


/*------------noticias------------*/

.hero4{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo\ noticias.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero4 h2{
    font-size: 80px;
    display: inline-block;
    color: rgb(47, 47, 47);
}

.noticias1 img{
    width: 250px;
    height: 150px;
}

/*------------mas info------------*/

.hero5{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo\ mas\ info.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero5 h2{
    font-size: 80px;
    display: inline-block;
    color: rgb(47, 47, 47);
}

.pie p{
    text-align: left;
}