footer{
    .h333{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            border: 2px dotted nth($colores ,2);
            width: 150px;
            height: 40px;
            margin: 20px;
            text-align: center;
            font-size: 20px;
        }
    }
    p{
        text-align: center;
        font-size: 20px;
    }
    h6{
        font-family: serif;
        font-size: 2rem;
        text-align: center;
        color: black;
        background-color: $color-footer;
        display: inline-block;
        border: 2px solid nth($colores ,4);
        width: 200px;
        height: 40px;
        animation-name: aparece;
        animation-duration: 3s;
        animation-direction: initial;
        animation-iteration-count: unset;
        @keyframes aparece{
            from{
                font-size: 0px;
                width: 0%;
                height: 0%;
            }
            to{
                transform: rotate(360deg);
            }
        }
    }
    a{
        img{
            width: 50px;
            height: 50px;
        }
    }
}


.grid-contenedor{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;

    .grid1{
        grid-column: 2 / 5;
    }
    .grid2{
        grid-column: 2 / 5;
    }
    .grid3{
        grid-row: 3 / 4;
        margin: 0%;
    }
    .grid4{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .grid5{
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
    .grid6{
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }
    .grid7{
        grid-row: 3 / 4;
        grid-column: 5 / 6;
    }

}
