/*-----INDEX-----*/

/*HERO*/

.hero{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @extend %flex;
    h2{
        font-size: 70px;
        font-family: serif;
        color: nth($colores ,5);
    }
}

/*CARRUSEL*/

.carrusel{
    img{
        width: 100%;
        height: 65vh;
        margin: 20px;
    }
} 

/*JUEGUITOS*/

.jueguitos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .h333{    
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            border: 2px dotted nth($colores ,2);
            width: 150px;
            height: 40px;
            padding: 5px;
            margin: 25px;
            text-align: center;
            font-size: 20px;
        }
    }
    .jueguitos-contenedor{
        div{  
            border: 2px solid nth($colores ,1);
            width: 250px;
            height: 350px;
            text-align: center;
            margin: 20px;
            display: inline-block;
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
            }
            img{
                width: 240px;
                height: 240px;
            }
            a{
                text-decoration: none;
                color: nth($colores ,4);
                margin: 25px;
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    .h555{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: nth($colores ,4);
            margin: 25px;
            h5{
                background-color: nth($colores ,3);
                width: map-get($verm, ancho);
                height: map-get($verm, alto);
                text-align: map-get($verm, textt );
                font-size: map-get($verm, font);
            }
        }
    }
} 


/*ACCES1*/

.acces1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .h333{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            border: 2px dotted nth($colores ,2);
            width: 150px;
            height: 40px;
            padding: 5px;
            margin: 25px;
            text-align: center;
            font-size: 20px;
        }
    }
    .acces1-contenedor{
        div{
            border: 2px solid nth($colores ,1);
            width: 250px;
            height: 350px;
            text-align: center;
            margin: 20px;
            display: inline-block;
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
            }
            img{
                width: 240px;
                height: 240px;
            }
            a{
                text-decoration: none;
                color: nth($colores ,4);
                margin: 25px;
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    .h555{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: nth($colores ,4);
            margin: 25px;
            h5{
                background-color: nth($colores ,3);
                width: map-get($verm, ancho);
                height: map-get($verm, alto);
                text-align: map-get($verm, textt );
                font-size: map-get($verm, font);
            }
        }
    }
}

/*ULTIMAS-NOTICIAS*/

.UltimasNoticias{
    .h333{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            border: 2px dotted nth($colores ,2);
            height: 40px;
            padding: 5px;
            margin: 25px;
            text-align: center;
            font-size: 20px;
            width: 200px;
        }
    }
    .div1{
        display: flex;
        margin: 10px;
        background: linear-gradient(90deg, rgba(111, 111, 111, 1) 0%, rgba(219, 218, 218, 1) 86%);
        img{
            width: 250px;
            height: 200px;
        }
        div{
            a{
                text-decoration: none;
                color: nth($colores ,4);
                margin: 25px;
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    .h555{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: nth($colores ,4);
            margin: 25px;
            h5{
                background-color: nth($colores ,3);
                width: map-get($verm, ancho);
                height: map-get($verm, alto);
                text-align: map-get($verm, textt );
                font-size: map-get($verm, font);
            }
        }
    }
}


/*-----JUEGOS-----*/

/*HERO2*/

.hero2{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo.ps4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @extend %flex;
    h2{
        font-size: 70px;
        display: inline-block;
        color: nth($colores ,5);
    }
}

.h333{
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        border: 2px dotted nth($colores ,2);
        width: 150px;
        height: 40px;
        padding: 5px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
    }
}

/*JUEGAZOS*/

.juegazos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    div{
        border: 2px solid nth($colores ,1);
        width: 250px;
        height: 350px;
        text-align: center;
        margin: 20px;
        display: inline-block;
        transition: 1s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
        }
        img{
            width: 240px;
            height: 240px;
        }
        a{
            text-decoration: none;
            color: nth($colores ,4);
            margin: 25px;
            h4{
                font-size: 20px;
            }
        }
    }
}


/*-----ACCESORIOS-----*/

/*HERO3*/

.hero3{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondoaccesorios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @extend %flex;
    h2{
        font-size: 70px;
        display: inline-block;
        color: nth($colores ,5) ;
    }
}

.h333{
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        border: 2px dotted nth($colores ,2);
        width: 150px;
        height: 40px;
        margin: 25px;
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }
}

/*ACCES2*/

.acces2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    div{
        border: 2px solid nth($colores ,1);
        width: 250px;
        height: 350px;
        text-align: center;
        margin: 20px;
        display: inline-block;
        transition: 1s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
        }
        img{
            width: 240px;
            height: 240px;
        }
        a{
            text-decoration: none;
            color: nth($colores ,4);
            margin: 25px;
            h4{
                font-size: 20px;
            }
        }
    }
}

/*-----NOTICIAS-----*/

/*HERO4*/

.hero4{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo.noticias.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @extend %flex;
    h2{
        font-size: 70px;
        display: inline-block;
        color: nth($colores ,5);
    }
}

.h333{
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        border: 2px dotted nth($colores ,2);
        width: 150px;
        height: 40px;
        padding: 5px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
    }
}

/*NOTICIAS1*/

.noticias1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .div1{
        display: flex;
        margin: 10px;
        background: linear-gradient(90deg, rgba(111, 111, 111, 1) 0%, rgba(219, 218, 218, 1) 86%);
        img{
            width: 200px;
            height: 150px;
        }
        div{
            h4{
                font-size: 20px;
            }
        }
    }
}

/*-----MAS-INFO-----*/

/*HERO5*/

.hero5{
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url(../img/fondo.mas.info.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @extend %flex;
    h2{
        font-size: 70px;
        display: inline-block;
        color: nth($colores ,5);
    }
}

.h333{
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        border: 2px dotted nth($colores ,2);
        width: 150px;
        height: 40px;
        padding: 5px;
        margin: 25px;
        text-align: center;
        font-size: 20px;
    }
}